{% extends "user_layout.html" %}
{% block content %}
	<div class="content-container-collapsed" style="
  overflow-y: visible;">
		<div class="contacts-container-div">
			<div class="header">
				<h1>{{ title }} - Information</h1>
        <a href="{{ url_for('staff') }}" 
            style="position: absolute; top: 100px; right: 0px; font-size: 1.2em; font-weight: 600;">Go Back</a>

			<button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal"  style="position: absolute; top: 150px; right: 0px">
              Delete
            </button>
            </div>
            <br/>

            <div class="contacts-table-div">
                <p><strong>Staff ID:</strong> {{ staff.id }}</p>
                <p><strong>Name:</strong> {{ staff.name }}</p>
                <p><strong>Address:</strong> {{ staff.address }}</p>
                <p><strong>Birth Date:</strong> {{ staff.birth_date.strftime('%d-%m-%Y') }}</p>
                <p><strong>Sex:</strong> {{ staff.sex }}</p>
                <p><strong>Title:</strong> {{ staff.title }}</p>
                <p><strong>Qualification:</strong> {{ staff.qualification }}</p>
                <p><strong>Phone:</strong> {{ staff.name }}</p>
                <p><strong>Age:</strong> {{ staff.name }}</p>
                <p><strong>State:</strong> {{ staff.state }}</p>
                <p><strong>LG:</strong> {{ staff.lg }}</p>
                <p><strong>Marital Status:</strong> {{ staff.marital_status }}</p>
                <p><strong>Post:</strong> {{ staff.post }}</p>
                <p><strong>appointment:</strong> {{ staff.appointment }}</p>  
            </div>
        <br/>
	</div>

     <!-- Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Delete Staff Record?</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <form action="{{ url_for('delete_staff', staff_id=staff.id) }}" method="POST">
            <input class="btn btn-danger" type="submit" value="Delete">
          </form>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
